.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__username
        masa
      .side-bar__header__box__menu
        = link_to "#" do
          = icon('far','edit')
          %span<>
        = link_to "#" do
          = icon('fas','cog')
          %span<>
  .side-bar__group-list
    .group
      .group__name
        techcamp
      .group__message
        まだメッセージがありません